.title{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.citycount{
    font-family: system-ui;
}

.column {
    float: left;
    width: 33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  td{
    line-height: 50px;
  }

  table{
    margin-top: 20px;

  }